{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    </head>
    <body>
        <a href="{% url 'chores:event_new' %}" class='new-event'>Add New Event</a>

        <table>
            <thead>
                <tr>
                    <th width='200'>Chore Names</th>
                    {% for roomie in roomie_list %}
                        <th width='200'>{{ roomie.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in chore_count.items %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for count in value %}
                            <td>{{ count }}</td>
                        {% endfor %}
                    <tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>
