{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
        <link rel="stylesheet" type='text/css' href="{% static 'foundation/css/foundation-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/chores.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chores.js' %}"></script>
    </head>
    <body>
        <!-- <nav class='top-bar' data-topbar role='navigation'>
            <ul class='title-area'>
                <li class='name'>
                    <h1><a href='#'>BELMONT BOYS</a></h1>
                </li>
            </ul>
        </nav> -->
        <div class="off-canvas-wrap move-right" data-offcanvas>
            <div class="inner-wrap">
                <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

                <!-- Off Canvas Menu -->
                <aside class="left-off-canvas-menu">
                  <div class="icon-bar vertical five-up">
                      <a class="item active">
                        <i class="fi-graph-trend"></i>
                        <label>Dashboard</label>
                      </a>
                      <a class="item">
                       <i class="fi-plus"></i>
                        <label>New Event</label>
                      </a>
                      <a class="item">
                        <i class="fi-results-demographics"></i>
                        <label>Recent Activity</label>
                      </a>
                    </div>
                </aside>

                <!-- main content goes here -->
                <div class='tabs-content'>
                    <div id='dashboard' class='content active'>
                        <header>
                            <div class='small-12 columns'>
                                <h3 class='text-center'>Dashboard</h3>
                            </div>
                        </header>
                        <div class='row ad-block'>
                            <table>
                                <thead>
                                    <tr>
                                        <th width='200'>Chore Names</th>
                                        {% for roomie in roomie_list %}
                                            <th width='200'>{{roomie.name}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in chore_count.items %}
                                        <tr>
                                            <td>{{key}}</td>
                                            {% for count in value %}
                                                <td>{{count}}</td>
                                            {% endfor %}
                                        <tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class='small-6 columns'>
                                <table>
                                    <tbody>
                                        {% for key, value in roomie_chores.items %}
                                            <tr>
                                                <td>{{key}}</td>
                                                <td>{{value}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class='small-6 columns'>
                                <table>
                                  <tr>
                                    <th scope="column">Last Bathroom Clean</th>
                                    <th scope="column">Last Trash Takeout</th>
                                  </tr>
                                  <tr>
                                    <td>{{ last_bath }}</td>
                                    <td>{{ last_trash }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="column">Last Kitchen Clean</th>
                                    <th scope="column">Last Floor Clean</th>
                                  </tr>
                                  <tr>
                                    <td>{{ last_kitchen }}</td>
                                    <td>{{ last_floor }}</td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class='content hide' id='new-event'>
                        <!-- {% include 'chores/event_new.html' %} -->
                    </div>

                    <div id='recent-activity' class='content'>
                    </div>
                </div>

                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"></a>
            </div>
        </div>
    </body>
</html>
